* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Healthcare.png) no-repeat center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1400px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #c8ece4;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #0e3958;
}

.controls {
    display: flex;
    gap: 10px;
}

#search {
    padding: 8px;
    width: 200px;
    border: 1px solid #196f3d;
    border-radius: 5px;
}

#add-btn,
#delete-btn {
    padding: 10px 15px;
    background-color: #196f3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-btn:hover,
#delete-btn:hover {
    background-color: #14562c;
}

.main-content {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #196f3d;
    color: white;
}

thead th {
    padding: 12px 10px;
    text-align: left;
}

tbody td {
    padding: 10px 8px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

tbody tr {
    cursor: pointer;
}

@media (max-width: 1024px) {
    table {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    table {
        font-size: 10px;
    }
}